<div class="jumbotron justify-content-md-center">


  <div class="row justify-content-md-center reel">
    <div class="col-md-2 text-center image-one" id="reelImg">
      <img [src]="currentSym1.symbolLink">
    </div>
    <div class="col-md-2 text-center image-two" id="reelImg"><img [src]="currentSym2.symbolLink"></div>
    <div class="col-md-2 text-center image-three" id="reelImg"><img [src]="currentSym3.symbolLink"></div>
  </div>

  <div class="row main-btns">

    <div class="col-md-4">
      <button type="button" class="btn btn-danger btn-lg btn-spin" (click)="spinning()"
        *ngIf="!isSpinning">SPIN</button>
      <button type="button" class="btn btn-danger btn-lg btn-spin" (click)="stopSpinning()"
        *ngIf="isSpinning">stopSpinning</button>

    </div>



  </div>

</div>
<script></script>